---
import BarApp from '../apps/bar/app';
import Layout from '../layouts/Layout.astro';
import * as layoutStyles from '../layouts/layout.css';
---

<Layout title="Bar Chart — Astro + FoldKit">
  <h1 class={layoutStyles.heading}>Bar Chart</h1>
  <BarApp client:load />
</Layout>
